[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
pylint-django = "*"
pylint-celery = "*"
django = "*"
django-ckeditor = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.13"

[scripts]
webpersonal = "python webpersonal/manage.py runserver"